<p>
  login works!
</p>
<!-- <form (submit)="getUserData($event)"> -->
  <form #loginForm="ngForm" (ngSubmit)="getUserData(loginForm)">

  <input type="text" name="UserName" id="UserName" placeholder="UserName" [(ngModel)]="UserName"/>
  <input type="text" name="Password" id="Password" placeholder="Password" [(ngModel)]="Password"/>
  <input type="submit" value="Form Submit">
  <!-- <button (click)="getUserData(UserName,Password)">Submit</button> -->
  </form>
  <p *ngIf="show">
      <a [routerLink]="[ '/admin' ]" disable=true>Go To admin Page</a>
    </p>